html {
  background: url("https://artwallbazaar.com/wp-content/uploads/bending-shoot-leaf-pattern-wallpaper-mural-green-leaves-white-background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.App {
  text-align: center;
}

/* body {
  background-color: rgb(226, 247, 216);
} */

.Navlink-position {
  padding-left: 18px;
  color: lightcoral;
}

.icon-size {
  width: 70px;
}

.contact-page1 {
  display: flex;
  justify-content: space-around;
}

.contact-page2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.squarish {
border-radius: 5px;
}

.contact-text {
  margin: 40px;
  font-size: 20px;
}

.rounded {
border-radius: 48px;
}

.map-size {
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.card-space {
  margin-top: 60px;
  margin-bottom: 10px;
}

.card-width {
  width: 70%;
  margin-left: 16vw;
  text-align: left;
  font-size: 10px;
}

.Navlink-size {
  font-size: 25px;
  margin: 6px;
}

.title-width {
  max-width: 230px;
  font-size: 35px;

}

.my-photo {
  position: absolute;
  margin-top: 65px;
  width: 170px;
  height: 175px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 82px;
  left:85vw;
}

.text-1 {
  font-family: 'Lora', serif;
}

.text-2 {
  font-family: 'Julius Sans One', sans-serif;
}

.text-3 {
  font-family: 'Fredericka the Great', cursive;
}

.text-4 {
  font-family: 'Alegreya SC', serif;
}
.text-5 {
  font-family: 'Londrina Sketch', cursive;
}

.Header {
  position: absolute;
  left:37vw;
  font-size: 90px;
  top: 2vw;
}

.video-size{
  max-width: 50%;
  border:1px solid #021a40;
}

.Nav {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 background-color: rgb(15, 84, 85, 0.9);
 padding-left: 20px;
 padding-bottom: 3px;
 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
